
#Tunnel Settings
Tunnel.ConnectIP=46.253.147.179
Tunnel.IP=127.0.0.1
Tunnel.Port= 9010
Tunnel.WorkInteval=1

#Mysql Settings
Sql.Server=Gothic-PC
Sql.User=sa
Sql.Password=123456s
Sql.Database=testdata

